<a href="https://colab.research.google.com/github/MAGESH-K21/IMDB-Movie-List-Python-Web-Scrapping/blob/main/IMDB_TOP_250_MOVIE_LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from logging import exception
from pydoc import source_synopsis
from urllib import response
from bs4 import BeautifulSoup
import requests, openpyxl

excel=openpyxl.Workbook()
sheet=excel.active
sheet.title="IMDB TOP 250 MOVIE LIST"
sheet.append(['rank','Movie Name','Release Year','IMDB Rating'])


try:
    response=requests.get("https://www.imdb.com/chart/top/")
    soup=BeautifulSoup(response.text,'html.parser')
    #print(soup)
    movies=soup.find('tbody',class_="lister-list").find_all("tr")
    
    for movie in movies:
      #print(movie)
      rank = movie.find('td',class_="titleColumn").get_text(strip=True).split('.')[0]
      movie_name = movie.find('td',class_="titleColumn").a.text
      rate = movie.find('td',class_="ratingColumn").strong.text
      year = movie.find('td',class_="titleColumn").span.text.replace('(',"")
      year=year.replace(')',"")
      #print(rank,movie_name,year,rate)
      sheet.append([rank,movie_name,year,rate])
    
      

except exception as e:
  print(e)

excel.save("IMDB TOP 250 MOVIE LIST.xlsx")